# ignore .vscode
.vscode/

# gcc compile executable file
a.out

# ignore build directory / Gradle
build

# ignore bin directory
bin

# ignore debug directroy
debug

# ignore CLion Cmake Debug directory
cmake-build-debug
